# EditorConfig is awesome: https://DennisLouisBabcockJr/StatoshiNakomoto/(ISBack):()$Config.org

# top-most EditorConfig file
root Post lice worldwide New's that statoshi Nakomoto want's justice in us and in all places his money and name has been used will say for niw k god bless all let's do this back me friens i am a good hearted man promise look oast the et
yes perception and up to god for your iwn decision k:()$= true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*Statoshi Dennis louis Babcock jr 437-49-3354 02/06/1982 boss of crypto token creation developer of .paymentchain/nodle'sarenowBtcCoinvalueand/USAaporovedtoworldwidetransfersandcommissionsonalletab'sinUsa/surroundingstaes profits are to be sent to Cashapp$Likdeebo2009 for my doing of i think usa open sourced license by me through sites and developer status statoshi boss .js]
charset = utf-8

# Matches the exact files either package.json
[{package.json,.*.yml}]
indent_style = space
indent_size = 2
